.foto-home{
    width: 18rem;
    height: 26rem;
    border-radius: 8px;
}
.container-home{
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
    flex-wrap: wrap;
    flex: 1;
}
.img-logo-links{
    width: 2rem;
}

.div-links-home{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.sobreMim-tablet{
    display: none;
}
.nome-tablet{
    display: none;
}
@media (max-width: 700px){
    .nome-tablet{
        display: block;
    }
    .nome-pc{
        display: none;
    }
    .container-home{
        gap: 1rem;
    
    }
}
@media (max-width: 900px){
    .nome-tablet{
        display: block;
    }
    .nome-pc{
        display: none;
    }
    .container-home{
        gap: 3rem;
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-bottom: 5rem;
    }
}
@media (min-height: 1366px){
    .nome-tablet{
        display: block;
    }
    .nome-pc{
        display: none;
    }
    .container-home{
        gap: 5rem;
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-bottom: 7.2rem;
    }
}
