.foto-servicos{
    width: 33rem;
    height: 20rem;
    border-radius: 8px;
}
.foto-servicos2{
    width: 15rem;
    
    border-radius: 8px;
}
.container-servicos{
   
    margin: 2rem;
}
.container-servicos-div{
    display: flex;
    gap: 2rem;
    margin: 2rem;
    padding: 5rem;
    border: solid #74847d 2px;
    border-radius: 8px;
}
h3{
    text-align: justify;
}